includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src/
        - tests/
        - .php-cs-fixer.dist.php
        - rector.php
    excludePaths:
        - tests/runtime/

    checkMissingIterableValueType: false

    tmpDir: .build/phpstan/
